####
# Temporary access protection; see .htpasswd for the credentials.
####
# AuthUserFile /var/www/clients/client5/web24/web/public/.htpasswd
# AuthType Basic
# AuthName "Sachspendenbörse"
# require valid-user

RewriteEngine On

# Rewrite everything to use HTTPS. (matthias@ansorgs.de, 2014-07-16)
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
# Redirect processing stops after HTTPS rewrite match (L=Last) because prepending protocol 
# and host messes up the query string (see http://httpd.apache.org/docs/current/rewrite/flags.html#flag_r ).
# No matter, further rewriting will happen when the browser comes back with the same query in HTTPS.

# Stop rewriting (not changing anything) if the request matches an existing file, symlink or directory.
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

# Rewrite everything else to index.php for URL analysis and passing to the relevant controller.
# (Also results in 404 messages being generated with the site's layout intact.)
RewriteRule ^.*$ index.php [NC,L]

