
RewriteEngine On

# Rewrite everything to use HTTPS. (m.ansorg@epelia.com, 2014-07-16)
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
# Redirect processing stops after HTTPS rewrite match (L=Last) because prepending protocol 
# and host messes up the query string (see http://httpd.apache.org/docs/current/rewrite/flags.html#flag_r ).
# No matter, further rewriting will happen when the browser comes back with the same query in HTTPS.

# Stop rewriting (not changing anything) if the request matches an existing file, symlink or directory.
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

# Rewrite everything else to index.php for URL analysis and passing to the relevant controller.
# (Also results in 404 messages being generated with the site's layout intact.)
RewriteRule ^.*$ index.php [NC,L]


# Redirect old shopnames from the original Epelia software to their new shopnames.
Redirect 301 /kaninchenschmidt /shops/kaninchenschmidt/
Redirect 301 /tomate7 /shops/tomate7/
Redirect 301 /oelmuehleinwerder /shops/oelmuehleinwerder/
Redirect 301 /weingutimzwoelberich /shops/weingutimzwoelberich/
Redirect 301 /cafewiecker /shops/cafewiecker/
Redirect 301 /naschpirat /shops/naschpirat/
Redirect 301 /broegtrockenfruechte /shops/broegtrockenfruechte/
Redirect 301 /tomski /shops/tomski/
Redirect 301 /tarpa /shops/tarpa/
Redirect 301 /kaeserei-maus /shops/kaeserei-maus/
Redirect 301 /hans-peter-steinmeyers-shop /shops/hans-peter-steinmeyers-shop/
Redirect 301 /corinne-wickleins-shop /shops/corinne-wickleins-shop/
Redirect 301 /wickfood-shop /shops/wickfood-shop/
Redirect 301 /harald-erasimys-shop /shops/harald-erasimys-shop/
Redirect 301 /ziegenhof-ensmad /shops/ziegenhof-ensmad/
Redirect 301 /sebastian-hoesels-shop /shops/sebastian-hoesels-shop/
Redirect 301 /sacksdestille /shops/sacksdestille/
Redirect 301 /landfleischereineumeier /shops/landfleischereineumeier/
Redirect 301 /gasthofreuner /shops/gasthofreuner/
Redirect 301 /persicarius /shops/persicarius/
Redirect 301 /straussenprodukteabhof /shops/straussenprodukteabhof/
Redirect 301 /kaffeekult /shops/kaffeekult/
Redirect 301 /laboiteanougats /shops/laboiteanougats/
Redirect 301 /lauvitino /shops/lauvitino/
Redirect 301 /baeckereihoennige /shops/baeckereihoennige/
Redirect 301 /agrogbrwunderlich /shops/agrogbrwunderlich/
Redirect 301 /honigstueberlberchtesgaden /shops/honigstueberlberchtesgaden/
Redirect 301 /gemuese-mustermann /shops/gemuese-mustermann/
Redirect 301 /kaiserhonig /shops/kaiserhonig/
Redirect 301 /denzelolivenoel /shops/denzelolivenoel/
Redirect 301 /artenchocolat /shops/artenchocolat/
Redirect 301 /syringfeinkost /shops/syringfeinkost/
Redirect 301 /kebeliving /shops/kebeliving/
Redirect 301 /dosenbrot /shops/dosenbrot/
Redirect 301 /kalterhundmanufaktur /shops/kalterhundmanufaktur/
Redirect 301 /senfsalon /shops/senfsalon/
Redirect 301 /schautsnudelparadies /shops/schautsnudelparadies/
Redirect 301 /klemmkuchenmanufakturberlin /shops/klemmkuchenmanufakturberlin/
Redirect 301 /genusswerkstatt /shops/genusswerkstatt/
Redirect 301 /jordanolivenoel /shops/jordanolivenoel/
Redirect 301 /bauerngartenmanufaktur /shops/bauerngartenmanufaktur/
Redirect 301 /saechsischeschokoladenmanufaktur /shops/saechsischeschokoladenmanufaktur/
Redirect 301 /muttererde /shops/muttererde/
Redirect 301 /jausenstation /shops/jausenstation/
Redirect 301 /konditoreiloewenzahn /shops/konditoreiloewenzahn/
Redirect 301 /greensun /shops/greensun/
Redirect 301 /schokokult /shops/schokokult/
Redirect 301 /ziegenhofensmad /shops/ziegenhofensmad/
Redirect 301 /bliesgauoelmuehle /shops/bliesgauoelmuehle/
Redirect 301 /thueringerteeundkraeutermanufaktur /shops/thueringerteeundkraeutermanufaktur/
Redirect 301 /landhausmanufaktur /shops/landhausmanufaktur/
Redirect 301 /donfinessedelikatessen /shops/donfinessedelikatessen/
Redirect 301 /juscomte /shops/juscomte/
Redirect 301 /kakaokontor /shops/kakaokontor/
Redirect 301 /nickelskekseundkuchen /shops/nickelskekseundkuchen/
Redirect 301 /jaki /shops/jaki/
Redirect 301 /strandgut /shops/strandgut/
Redirect 301 /zuckerundsalz /shops/zuckerundsalz/
Redirect 301 /zickdehohenlohe /shops/zickdehohenlohe/
Redirect 301 /cordula-seidls-shop /shops/cordula-seidls-shop/
Redirect 301 /brotbaeckereiarturmueller /shops/brotbaeckereiarturmueller/
Redirect 301 /gutkrauscha /shops/gutkrauscha/
Redirect 301 /bestwinus /shops/bestwinus/
Redirect 301 /landfreude /shops/landfreude/
Redirect 301 /kleinburhafe /shops/kleinburhafe/
Redirect 301 /heimlichskekse /shops/heimlichskekse/
Redirect 301 /flaemingerziegenhof /shops/flaemingerziegenhof/
Redirect 301 /klosterfeldersenfmuehle /shops/klosterfeldersenfmuehle/
Redirect 301 /augustusrex /shops/augustusrex/
Redirect 301 /diemakrele /shops/diemakrele/
Redirect 301 /siebenziegen /shops/siebenziegen/
Redirect 301 /explorercoffee /shops/explorercoffee/
Redirect 301 /fruechteparadies /shops/fruechteparadies/
Redirect 301 /honigoel /shops/honigoel/
Redirect 301 /tanjaskleinenaschereien /shops/tanjaskleinenaschereien/
Redirect 301 /argandor /shops/argandor/
Redirect 301 /sosseneckart /shops/sosseneckart/
Redirect 301 /marmeladenbradsch /shops/marmeladenbradsch/
Redirect 301 /aceitesvizcantar /shops/aceitesvizcantar/
Redirect 301 /kraeutermanufaktur /shops/kraeutermanufaktur/
Redirect 301 /adamsbrot /shops/adamsbrot/
Redirect 301 /derkleinesenfladen /shops/derkleinesenfladen/
Redirect 301 /lindlstopinambur /shops/lindlstopinambur/
Redirect 301 /hofgrimm /shops/hofgrimm/
Redirect 301 /hanselihof /shops/hanselihof/
Redirect 301 /pikantesfruechtchen /shops/pikantesfruechtchen/
Redirect 301 /tortenmacher /shops/tortenmacher/
Redirect 301 /klostergutheiningen /shops/klostergutheiningen/
Redirect 301 /immergrueneerde /shops/immergrueneerde/
Redirect 301 /bauerngartenmanufaktur /shops/bauerngartenmanufaktur/
Redirect 301 /allspice /shops/allspice/
Redirect 301 /kreuzhof /shops/kreuzhof/
Redirect 301 /bockgardenerpeterburkhardt /shops/bockgardenerpeterburkhardt/
Redirect 301 /altmuehltalerschnuckenhof /shops/altmuehltalerschnuckenhof/
Redirect 301 /pastanita /shops/pastanita/
Redirect 301 /benedicite /shops/benedicite/
Redirect 301 /hofmetzgerei-mustermuehle /shops/hofmetzgerei-mustermuehle/
Redirect 301 /gewuerzprojekte /shops/gewuerzprojekte/
Redirect 301 /rottalerwaffeln /shops/rottalerwaffeln/
Redirect 301 /kuechenbengel /shops/kuechenbengel/
Redirect 301 /shokocrown /shops/shokocrown/
Redirect 301 /melrosbest /shops/melrosbest/
Redirect 301 /weinbauebert /shops/weinbauebert/
Redirect 301 /schwarzwaldmiso /shops/schwarzwaldmiso/
Redirect 301 /zauberdergewuerze /shops/zauberdergewuerze/
Redirect 301 /mamaelise /shops/mamaelise/
Redirect 301 /trueffelkontor /shops/trueffelkontor/
Redirect 301 /biohoflex /shops/biohoflex/
Redirect 301 /liesbornerimkereivonorlow /shops/liesbornerimkereivonorlow/
Redirect 301 /frauenzellerhofkaese /shops/frauenzellerhofkaese/
Redirect 301 /chocolatllipzi /shops/chocolatllipzi/
Redirect 301 /jademediplus /shops/jademediplus/
Redirect 301 /omaida /shops/omaida/
Redirect 301 /kleinsalitzermilchschaeferei /shops/kleinsalitzermilchschaeferei/
Redirect 301 /obstgartenuckermark /shops/obstgartenuckermark/
Redirect 301 /iseagentur /shops/iseagentur/
Redirect 301 /kacsardy /shops/kacsardy/
Redirect 301 /echtschwarzwald /shops/echtschwarzwald/
Redirect 301 /maskal /shops/maskal/
Redirect 301 /glasshoff /shops/glasshoff/
Redirect 301 /utasmarmeladenwelt /shops/utasmarmeladenwelt/
Redirect 301 /feinkostems /shops/feinkostems/
Redirect 301 /huebnerbioline /shops/huebnerbioline/
Redirect 301 /eco-mi-shop /shops/eco-mi-shop/
Redirect 301 /sielerkaffeeroesterei /shops/sielerkaffeeroesterei/
Redirect 301 /hanneforth /shops/hanneforth/
Redirect 301 /projektleben /shops/projektleben/
Redirect 301 /bibibest /shops/bibibest/
Redirect 301 /filion /shops/filion/
Redirect 301 /sweetcompany /shops/sweetcompany/
Redirect 301 /conowerjerky /shops/conowerjerky/
Redirect 301 /alpenweit /shops/alpenweit/
Redirect 301 /bestellshop-epelias-shop /shops/bestellshop-epelias-shop/
Redirect 301 /tastygoods /shops/tastygoods/
Redirect 301 /oelmuehleleinetal /shops/oelmuehleleinetal/
Redirect 301 /wildspezialitaetenvomfoerster /shops/wildspezialitaetenvomfoerster/
Redirect 301 /seepointerhofbioeier /shops/seepointerhofbioeier/
Redirect 301 /kartoffelzauber /shops/kartoffelzauber/
Redirect 301 /sanddornquelle /shops/sanddornquelle/
Redirect 301 /bionudeln-sachsengold /shops/bionudeln-sachsengold/
Redirect 301 /delikatessen /shops/delikatessen/
Redirect 301 /winterfeldtschokoladen /shops/winterfeldtschokoladen/
Redirect 301 /sauerlandsenf /shops/sauerlandsenf/
Redirect 301 /cityandmore /shops/cityandmore/
Redirect 301 /keltereibolender /shops/keltereibolender/
Redirect 301 /manuela-dreessens-shop /shops/manuela-dreessens-shop/
Redirect 301 /somannkaesespezialitaeten /shops/somannkaesespezialitaeten/
Redirect 301 /stadtschlachterclaussen /shops/stadtschlachterclaussen/
Redirect 301 /marathonsolivenoel /shops/marathonsolivenoel/
Redirect 301 /wildfleisch-schmid /shops/wildfleisch-schmid/
Redirect 301 /biohof-hammermuehle /shops/biohof-hammermuehle/
Redirect 301 /bannmuehle /shops/bannmuehle/
Redirect 301 /maniokbackwaren /shops/maniokbackwaren/
Redirect 301 /olivers-feine-kost /shops/olivers-feine-kost/
Redirect 301 /gourmetmanufaktur /shops/gourmetmanufaktur/
Redirect 301 /richters-stutenmilchlikoer /shops/richters-stutenmilchlikoer/
Redirect 301 /jan-oltmanns-shop /shops/jan-oltmanns-shop/
Redirect 301 /7sonntage /shops/7sonntage/
Redirect 301 /Rose-biomanufaktur /shops/Rose-biomanufaktur/
Redirect 301 /naturlandhofwiederhold /shops/naturlandhofwiederhold/
Redirect 301 /ralfsobstundgemueserei /shops/ralfsobstundgemueserei/
Redirect 301 /harrysleckereien /shops/harrysleckereien/
Redirect 301 /monisleckereien /shops/monisleckereien/
Redirect 301 /mattigtalerlamm /shops/mattigtalerlamm/
Redirect 301 /memarmelade /shops/memarmelade/
Redirect 301 /oswald /shops/oswald/
Redirect 301 /koestlichezeitreisen /shops/koestlichezeitreisen/
Redirect 301 /onlinediscountmarkt /shops/onlinediscountmarkt/
Redirect 301 /wenzke-felicias-shop /shops/wenzke-felicias-shop/
Redirect 301 /epelia-admin-testshop /shops/epelia-admin-testshop/
Redirect 301 /salvida /shops/salvida/
Redirect 301 /altland-leben /shops/altland-leben/
Redirect 301 /genussarchitekten /shops/genussarchitekten/
Redirect 301 /King-of-Salt /shops/King-of-Salt/
Redirect 301 /sogro-shop /shops/sogro-shop/
Redirect 301 /tobigourmet /shops/tobigourmet/
Redirect 301 /feinschmeckerfeinkost /shops/feinschmeckerfeinkost/
Redirect 301 /senf-pauli /shops/senf-pauli/
Redirect 301 /coffeecircle /shops/coffeecircle/
Redirect 301 /balticseaspirit /shops/balticseaspirit/
Redirect 301 /werkhand /shops/werkhand/
Redirect 301 /fattoriasarda /shops/fattoriasarda/
Redirect 301 /seitenbacher /shops/seitenbacher/
Redirect 301 /eugea /shops/eugea/
Redirect 301 /kraeuter.gewuerze /shops/kraeuter.gewuerze/
Redirect 301 /genuss-direkt /shops/genuss-direkt/
Redirect 301 /san-massimiliano-shop /shops/san-massimiliano-shop/
Redirect 301 /indecove-shop /shops/indecove-shop/
Redirect 301 /milchmann-radebeul-shop /shops/milchmann-radebeul-shop/
Redirect 301 /ticoche /shops/ticoche/
Redirect 301 /gourient-shop /shops/gourient-shop/
Redirect 301 /delicardo-shop /shops/delicardo-shop/
Redirect 301 /salatfritz-shop /shops/salatfritz-shop/
Redirect 301 /jan-streletzkis-shop /shops/jan-streletzkis-shop/
Redirect 301 /geringer /shops/geringer/
Redirect 301 /flaeminger-genussland /shops/flaeminger-genussland/
Redirect 301 /laurus-vital-shop /shops/laurus-vital-shop/
Redirect 301 /wachtelhof-altmark /shops/wachtelhof-altmark/
Redirect 301 /straussenhof-shop /shops/straussenhof-shop/
Redirect 301 /baeckerei-vosshagen-shop /shops/baeckerei-vosshagen-shop/
Redirect 301 /pfalzwachtel-shop /shops/pfalzwachtel-shop/
Redirect 301 /martina-zieglers-shop /shops/martina-zieglers-shop/
Redirect 301 /handmadetarts-shop /shops/handmadetarts-shop/
Redirect 301 /biologischerkaese /shops/biologischerkaese/
Redirect 301 /gabriel-rusus-shop /shops/gabriel-rusus-shop/
Redirect 301 /malisdelices /shops/malisdelices/
Redirect 301 /grevenhof /shops/grevenhof/
Redirect 301 /1001frucht /shops/1001frucht/
Redirect 301 /bioma /shops/bioma/
Redirect 301 /montemurro-mimmo-s-shop /shops/montemurro-mimmo-s-shop/
Redirect 301 /marokkogourmet /shops/marokkogourmet/
Redirect 301 /Bosque-Lya-Germany /shops/Bosque-Lya-Germany/
Redirect 301 /goldenbuffalo /shops/goldenbuffalo/
Redirect 301 /www.epelia.com /shops/www.epelia.com/
Redirect 301 /feinkost-fraktion-shop /shops/feinkost-fraktion-shop/
Redirect 301 /hofkaesereiwellie /shops/hofkaesereiwellie/

